@{
    ViewData["Title"] = "Home Page";
}



    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                        <!-- Header text content-->
                            <div class="text-center text-xxl-start">
                                <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Garbage Cans &middot; Homes &middot; Driveaways</div></div>
                                <div class="fs-3 fw-light text-muted">   </div>
                                <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Welcome to Sadie's Powerwashing</span></h1>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BookMe">Book With Me!</a>
                            </div>
                            </div>
                    </div>
                        <div class="col-xxl-7">
                            <!-- Header profile picture-->
                            <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                                <div class="profile bg-gradient-primary-to-secondary">
                                    <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                                    <!-- Watch a tutorial on how to do this on YouTube (link)-->
                                    <img class="profile-img" src="~/img/jerupower.png"  />
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- About Section-->
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-md-6">
                        <img src="~/img/img_7090.png" class="img-fluid" alt="Sadie Powerwashing">
                    </div>
                    <div class="col-md-6">
                        <div class="text-center my-5">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2><br /><br />
                            <p class="lead fw-light mb-4">Here for all your powerwashing needs</p>
                            <p class="text-muted">Hi! Welcome to my site. My name is Sadie and I like to powerwash in my free time. It started as a way to earn money (and be outside and tan in the summer) in high school, but the more gigs I did the more I realized I love helping people see immediate cleanliness results! It has been SO fun to develop this. We now offer many services and will even travel to you!</p>
                            <div class="d-flex justify-content-center fs-2 gap-4">
                                <a class="text-gradient" href="https://www.instagram.com/sadiepowerwashing/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Services Section-->
        <section class="py-5">
            <div class="container px-5">
                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Our Services</span></h2><br /><br />
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-bolder">Garbage Cans</h5>
                                <p class="card-text text-muted">Paid per garbage can, we will come to you! We will help you get rid of the smell, clean the buildup on your cans, and leave them super clean!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-bolder">Driveway Cleanings</h5>
                                <p class="card-text text-muted">Our most popular service, you can see a brand new driveway under the dirt buildup and leave your place looking so much better!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-bolder">Houses</h5>
                                <p class="card-text text-muted">Get rid of weeds, dirt and dust, and leaves from your exterior with Sadie's Powerwashing! Or your money back!  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
</body>




